.characters{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    .character-container{
        display: flex;
        flex-direction: column;
        .card{
            margin: 15px;
            width: 250px;
            height: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 20px;
            transition: 0.5s;
            span{
                font-weight: bold;
            }
            p{  
                opacity: 0;
                transform: scale(0);
                transition: 0.8s;
                color: white;
            }
            &:hover{
                box-shadow: 0 0 0 150px rgba(0,0,0,0.7) inset;
                p{
                    opacity: 1;
                    transform: scale(1);

                }
            }
        }
        .bottom-section{
            display: flex;
            align-items: center;
            justify-content: center;
            .star{
                margin-bottom: 20px;
                font-size: 30px;
                margin-left: 10px;
            }
            .star-on{
                color: yellow;
            }
        }       
    }
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.dark-mode{
        color: white;
}
.light-mode{
        color:black;
}

.favorites{
    margin: 38px;
    h2{
        text-align: left;
        font-size: 25px;
    }
    .fav-characters{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin-left: 5px;
    }
}

.all-characters{
    text-align: left;
    font-size: 25px;
    margin-left: 38px;
}

input{
    display: block;
    margin: 30px auto;
    height: 30px;
    width: 350px;
    padding-left: 15px;
    font-size: 18px;
}